/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html, body
  padding 0
  margin 0
  background-color #23395b

.home .hero img
  max-width 450px!important

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background-color #23395b
  box-sizing border-box
  border-bottom 1px solid $borderColor

.links
  background-color #23395b!important

.sidebar
  background-color #23395b!important

tr
  background-color #23395b!important

h1, h2, h3, h4, h5, h6
  font-weight: 600
  line-height: 1.25
  color: white!important

a,p,.footer,.site-name,ul
  color: white!important